<section class="container-fluid mt-2">
    <div class="text-center">
        <h3 class="text">Registrar productos comprados</h3>
        <hr>
    </div>

    <div class="container justify-content-center row">
        <div class="col-7 text-center">
            <h5>Productos</h5>
            <div class="col-11">
                <table class="table">
                    <thead class="table-body">
                        <tr class="row-cols-2 titulo">
                            <th scope="col ">Producto</th>
                            <th scope="col ">Cantidad comprada (pesos)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row-cols-2 parrafo">
                            <td class="col">masa</td>
                            <td class="col"><a class="btn border-5 border-bottom border-end"
                                    style="border:1px solid rgba(128, 128, 128, 0.103)">Agregar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>




        <div class="col-5 justify-content-center text-center" id="tablaCarrito">
            <h5>Lista</h5>
            <table class="table">
                <thead class="table-body">
                    <tr class="row row-cols-4">
                        <th class="col">Nombre</th>
                        <th class="col">Cantidad</th>
                        <th class="col">Precio</th>
                        <th class="col">Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row row-cols-4 parrafo">
                        <td class="col">masa</td>
                        <td class="col d-flex">
                            <input type="text" class="form-control" value="12" style="width: 70px;">
                            <div class="dropdown" style="width: 5px;">
                                <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false"></button>
                                <ul class="dropdown-menu menuMedidas text-center">
                                    <li><a class="dropdown-item" href="#">Kg</a></li>
                                    <li><a class="dropdown-item" href="#">Pzs</a></li>
                                </ul>
                            </div>
                        </td>
                        <td class="col">
                            <input type="text" class="form-control" value="asd" style="width: 100px;">
                        </td>
                        <td class="col"><a class="btn rounded-pill w-75"><i
                                    class="bi bi-trash3-fill text-danger"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn text-success border-5 border-bottom border-end"
                style="border:1px solid rgba(128, 128, 128, 0.103)">Teminar</button>
        </div>

    </div>


</section>