<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../wwwroot/js/stats.js?v=2"></script>

</head>

<body>

    <section class="container-fluid mt-2">
        <div class="text-center">
            <h3 class="text">Estadisticas de ventas</h3>
            <hr>
        </div>
        <div class="row text-center justify-content-center">
            <div class="bg-light col-5 gx-5 rounded-3 border-5 border-bottom border-end">
                <div class="mt-3">
                    <h4>Ventas</h4>
                </div>
                <div class="mt-3">
                    <form class="form-control" style="border: 0; background-color: rgba(250, 235, 215, 0);">
                        <input readonly disabled="" type="text" value="$117.00" class="input-group text-center fs-4"
                            id="input1" style=" background-color: rgba(240, 248, 255, 0); border: 0;">
                    </form>
                </div>
            </div>
            <span class="col-1"></span>
            <div class="bg-light col-5 gx-5 rounded-3 border-5 border-bottom border-end">
                <div class="mt-3">
                    <h4>Ganancias</h4>
                </div>
                <div class="mt-3">
                    <form class="form-control" style="border: 0; background-color: rgba(250, 235, 215, 0);">
                        <input disabled="" type="text" value="$217.00" class="input-group text-center fs-4" id="input2"
                            style=" background-color: #ffffff00; border: 0;">
                    </form>
                </div>
            </div>

        </div>
        <div class="container-fluid justify-content-center mt-5 col-9 chartCard">
            <div class="chartBox">
                <canvas id="canvas1"></canvas>
            </div>
        </div>
    </section>

</body>

</html>